@charset "UTF-8";
* {margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{
    color: #222;
    text-decoration: none;
    font-family: Pretendard Variable;
}
button {
    background-color: transparent;
    border: 0;
    font-family: Pretendard Variable;
}
body {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-size: 15px;
    color: #222;
    min-width: 1400px;
}

/* bar_x_delete */
/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

/* fixed_group */
#fixed_group {
    cursor: pointer;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 9;
}
#btn_top {
    padding-left: 25px;
}
#btn_do a {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding-bottom: 5px;
    background-image: url(../images/btn_do.svg);
    background-repeat: no-repeat;
}
#btn_do a:hover{
    background-image: url(../images/btn_do_hover.svg);
}

/* slide_page_area : s */
#visual_wrap{
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.contents{
    min-width: 1100px;
}
.slide_page_area {
    position: relative;
    overflow: hidden;
    height: 100%;
}
ul.slide_list {
    position: relative;
    transform: translateX(calc(-100% / 7));
}
ul.slide_list::after {
    content: '';
    display: block;
    clear: both;}
.slide_page {
    position: relative;
    float: left;
    padding-top: 5.7%;
}
.slide_page > a {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%; 
    height: 140%;
}
.slide_page > a > img {
    position: absolute; 
    width: 100%;
}
.slide_page > a > * {
    color: #fff;
}
.slide_page > a > strong {
    position: absolute; 
    bottom: 540px;
    left: 270px;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1px;
    opacity: 0;
    transition: all .5s linear .8s;
}
.slide_page.active > a > strong {
    opacity: 1;
}
.slide_page > a > span {
    position: absolute; 
    bottom: 460px; 
    left: 270px; 
    font-size: 15px; 
    line-height: 1.6; 
    opacity: 0; 
    transition: all .5s linear .8s;
}
.slide_page.active > a > span {
    opacity: 1;
}
.slide_page > a > p {
    position: absolute; 
    bottom: 635px; 
    left: 272px;
    font-size: 15px; 
    line-height: 1.6; 
    opacity: 0; 
    transition: all .5s linear .8s;
    background-color: #202020; 
    padding: 5px 20px; 
    border-radius: 30px; 
    color: #ffffff;
}
.slide_page.active > a > p {
    opacity: 1;
}
.btn {
    position: absolute; 
    bottom: 298px; 
    width: 20px; 
    height: 20px; 
    background: url('../images/article/btn_next.svg') no-repeat; 
    opacity: 0.5;
}
.btn:hover {
    opacity: 0.9; 
    transition: opacity .3s;
}
.btn.prev {
    left: 50px; 
    background-position: -296px -99px;
}
.btn.next {
    right: 80px; 
    background-position: -346px -99px;
}
.page_num_area {
    position: absolute;
    bottom: 114px; 
    left: 270px; 
    color: #fff; 
    font-size: 12px;
}
.page_num_area > .page_num {
    font-weight: 800;
}
.page_num_area > .total {
    position: relative; 
    padding-left: 12px;
}
.page_num_area > .total::before {
    position: absolute; 
    content: ''; 
    top: 50%; 
    left: 5px; 
    width: 1px; 
    height: 8px; 
    margin-top: -4px; 
    background-color: #d6d6d5;
}
.slide_progressbar {
    position: absolute; 
    bottom: 221px; 
    left: 270px;
    width: calc(100% - 520px); 
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
.slide_progressbar > .state {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 20%; 
    height: 1px; 
    background-color: #fff; 
    transition: width .3s;
}
.main_contents {
    padding: 0 150px 120px;
}
.right_text{
    float: right;
    width: 800px;
}
/* slide_page_area : e */

/* header : s */
#header_position{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
}
#header_wrap {
    margin: 0px auto;
    width: 1320px;
    padding-top: 45px;
    overflow: hidden;
}
#header {
    background-color: #fff;
    height: 85px;
    border-radius: 50px;
    padding: 23px;
    box-sizing: border-box;
    position: relative;
}
.header_logo {
    padding-left: 20px;
    padding-top: 1px;
    display: inline-block;
}
.header_gnb {
    position: absolute;
    left: 180px;
    top: 23px;
}
.header_gnb li {
    float: left;
}
.header_gnb li a {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    padding: 9px 20px 30px 20px;
}
.header_gnb li a:hover {
    color: #2a2aea;
}
.header_util_wrap {
    float: right;
    width: 320px;
    margin-right: 70px;
    position: relative;
}
.header_util {
    display: inline-block;
    background-color: black;
    height: 40px;
    width: 100%;
    border-radius: 50px;
    text-align: center;
}
.header_util ul {
    padding-left: 10px;
}
.header_util li {
    float: left;
}
.header_util li:nth-child(1) {
    width: 25%;
}
.header_util li:nth-child(2) {
    width: 35%;
}
.header_util li:nth-child(3) {
    width: 40%;
}
.header_util li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 12px 20px 13px;
}
.header_util li:nth-child(3) a {
    padding: 12px 28px 13px 20px;
}
.header_util li a:hover {
    color: rgba(255, 255, 255, 0.9);
}
.header_util li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin-right: 9px;
}
.header_util li:nth-child(1):before {
    display: none;
}
/* header : e */

/* search : s */
.btn_search {
    position: absolute;
    top: 0px;
    right: -45px;
}
.btn_search:hover {
    opacity: 0.9;
}
.btn_search a {
    display: inline-block;
}
#search_popup {
    width: 1920px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;

    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 99;
    margin-left: -960px;
    text-align: center;
}
.search_bar_wrap {
    margin: 0 auto;
    width: 100%;
}
.search_bar {
    margin: 70px auto;
    margin-bottom: 30px;
    width: 700px;
    height: 60px;
    padding: 13px 0px;
    box-sizing: border-box;
    border: 0.5px solid #808080;
    border-radius: 40px;

    position: relative;
}
.btn_delete {
    position: absolute;
    top: 4px;
    right: -60px;
}
.search_popup_logo {
    display: inline-block;
    position: absolute;
    left: -143px;
    top: 3px;
}
.search_bar input {
    width: 600px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    display: inline-block;
    font-family: Pretendard Variable;
}
.search_bar input::placeholder {
    color: #ddd;
}
.btn_search_sub {
    display: inline-block;
    vertical-align: middle;
    padding-top: 1px;
}
.default_wrap {
    margin: 0 auto;
    width: 700px;
    text-align: left;
}
.search_popup_title {
    font-size: 18px;
    margin: 10px 0;
}
.recent_wrap {
    float: left;
    width: 300px;
    padding: 0 30px;
    position: relative;
}
.recommend_wrap {
    float: right;
    width: 300px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
}
.btn_all_delete {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 15px;
    color: gray;
    cursor: pointer;
}
.btn_all_delete:hover {
    opacity: 0.9;
}
.gray {
    color: gray;
}
.recommend_wrap ul li {
    float: left;
}
.recommend_wrap ul li a {
    display: inline-block;
    border: 1px solid #ccc;
    color: #2a2aea;
    font-size: 14px;
    padding: 7px 15px;
    margin: 0 5px 6px 0;
    border-radius: 20px;
}
.recommend_wrap ul li a:hover {
    background-color: rgba(221, 221, 221, 0.2);
}
/* search : e */

/* section1 : s */
#section1_wrap{
    margin: 0 auto;
    width: 1320px;
    height: 1050px;
}
.section1_title{
    text-align: center;
    padding: 70px 0;
    color: #2a2aea;
}
.section1_title h1{
    font-size: 40px;
}
#section1{
    background-color: #F1F5FF;
    height: 880px;
    border-radius: 30px;
    padding: 50px;
    box-sizing: border-box;
}
#section1 h2{
    text-align: left;
    font-size: 25px;
    font-weight: 800;
    color: #2a2aea;
}
.section1_box{
    height: 730px;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px solid #2a2aea;
    border-bottom: 2px solid #2a2aea;
    box-sizing: border-box;
}
.section1_l{
    float: left;
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.section1_r{
    float: right;
    width: 510px;
    height: 700px;
}
.section1_r_1{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;

    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.section1_r_2{
    width: 100%;
    height: 390px;

    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
/* section1 : e */

/* section2 : s */
#section2{
    margin: 0 auto;
    width: 1320px;
    height: 3000px;
}
.best_search_word_wrap{
    margin-top: 100px;
    position: relative;
    text-align: center;
    height: 180px;
}
.best_search_word_wrap h1{
    font-size: 20px;
}
.best_search_word_wrap ul{
    margin: 10px auto;
    width: 288px;
}
.best_search_word_wrap li{
    float: left;
}
.best_search_word_wrap li a{
    display: inline-block;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    padding: 7px 14px;
    margin: 5px 5px 0 0;
    color: #222;
    border: 1px solid #ddd;
}
.best_search_word_wrap li a:hover{
    background-color: #eee;
}
.search_effect{
    float: left;
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
}
.search_wrap{
    position: relative;
    height: 40px;
}
.search_wrap_inner{
    position: absolute;
    top: 0;
    right: 400px;
    width: 18%;
    z-index: 6;
    margin-top: 10px;
}
.search_wrap_inner li{
    float: left;
    width: 33.3%;
}
.search_wrap_inner li a{
    display: inline-block;
    color: #222;
    font-size: 15px;
    padding: 0px 19px;
}
.search_wrap_inner li a:hover{
    color: rgb(0, 0, 0);    
}
.search_wrap_inner li::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    left: 5px;
}
.search_wrap_inner li:nth-child(1):before{
    display: none;
}
.search_bar2{
    border: 1px solid #5c5c5c;
    border-radius: 30px;
    width: 400px;
    height: 35px;
    float: right;
    padding-bottom: 2px;
}
.search_bar2 input{
    width: 300px;
    font-size: 14px;
    margin-left: 24px;
    border: none;
    outline: none;
    display: inline-block;
    font-family: Pretendard Variable;
}
.search_bar2 input::placeholder{
    color: #ddd;
}
.btn_search_sub{
    display: inline-block;
    vertical-align: middle;
    padding-top: 4px;
    padding-left: 20px;
    position: relative;
}
/* section2_article : s */
.section2_article{
    height: 2000px;
    padding-top: 30px;
    position: relative;
}
.section2_box1_wrap{
    height: 1035px;
    margin-bottom: 10px;
}
.section2_box1_inner1{
    float: left;
    width: 730px;
    height: 100%;
}
.section2_box1_inner1_t{
    height: 545px;
    margin-bottom: 10px;
}
.section2_box1_1,
.section2_box1_2,
.section2_box1_inner1_b,
.section2_box1_inner2,
.section2_box2_inner1,
.section2_box2_inner2,
.section2_box3_inner1,
.section2_box3_inner2,
.section2_box3_inner3
{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 2px solid #222;
}
.section2_box1_1{
    float: left;
    width: 320px;
    height: 100%;
}
.section2_box1_2{
    float: right;
    width: 400px;
    height: 100%;
}
.section2_box1_inner1_b{
    width: 730px;
    height: 480px;
}
.section2_box1_inner2{
    float: right;
    width: 580px;
    height: 100%;
}
.section2_box2_wrap{
    height: 700px;
    margin-bottom: 10px;
}
.section2_box2_inner1{
    float: left;
    width: 416px;
    height: 100%;
}
.section2_box2_inner2{
    float: right;
    width: 894px;
    height: 100%;
}
.section2_box3_wrap{
    height: 650px;
}
.section2_box3_inner1{
    float: left;
    width: 320px;
    height: 500px;
}
.section2_box3_inner2{
    float: left;
    width: 430px;
    height: 100%;
    margin:0 10px;
}
.section2_box3_inner3{
    float: left;
    width: 550px;
    height: 500px;
}
.section2_text_wrap1,
.section2_text_wrap2,
.section2_text_wrap3,
.section2_text_wrap4,
.section2_text_wrap5
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 33;
    overflow: hidden;
    padding: 17px 15px 15px;
    box-sizing: border-box;
}
.section2_text_wrap2{
    height: 40%;
}
.section2_text_wrap3{
    height: 21%;
}
.section2_text_wrap4{
    height: 14%;    
}
.section2_text_wrap5{
    height: 25%;    
}
.section2_text_wrap5{
    height: 22%;    
}
.section2_ph1,
.section2_ph2,
.section2_ph3,
.section2_ph4, 
.section2_ph5 
{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 88;
    overflow: hidden;
}
.section2_ph1{
    top: 30%;
    height: 70%;
}
.section2_ph2{
    top: 40%;
    height: 60%;
}
.section2_ph3{
    top: 21%;
    height: 80%;
}
.section2_ph4{
    top: 14%;
    height: 86%;
}
.section2_ph5{
    top: 22%;
    height: 78%;
}
.section2_article button{
    display: inline-block;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    padding: 7px 14px;
    color: #2a2aea;
    border: 1px solid #ddd;
    cursor: pointer;
}
.section2_article button:hover{
    background-color: #eee;
}
.section2_article .day{
    position: absolute;
    top: 17px;
    right: 15px;
    z-index: 5;
    font-size: 12px;
    color: #A2A2A2;
}
.section2_text1, .section2_text2, .section2_text3{
    padding-top: 8px;
}
.section2_text3{
    width: 100%;
    font-size: 20px;
    padding-top: 6px;
    font-weight: 700;
}
.section2_text2{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
}
.section2_text1{
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
}

.btn_article{
    position: absolute;
    top: 2500px;
    text-align: center;
    width: 100%;
    z-index: 9;
}
/* section2_article : e */
/* section2 : e */

/* cover : s */
.img_wrap img{
    display: block;
    height: 100%;
    width: 100%;

    transform: scale(1);
    transition: transform 0.5s;
}
.section1_l:hover .img_wrap img,
.section1_r_1:hover .img_wrap img,
.section1_r_2:hover .img_wrap img,
.section2_box1_1:hover .img_wrap img,
.section2_box1_2:hover .img_wrap img,
.section2_box1_inner1_b:hover .img_wrap img,
.section2_box1_inner2:hover .img_wrap img,
.section2_box2_inner1:hover .img_wrap img,
.section2_box2_inner2:hover .img_wrap img,
.section2_box3_inner1:hover .img_wrap img,
.section2_box3_inner2:hover .img_wrap img,
.section2_box3_inner3:hover .img_wrap img
{
    transform: scale(1.2);
}
.cover{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(61, 63, 80, 0.8), rgba(0, 0, 0, 0));

    padding: 50px;
    box-sizing: border-box;
}
.cover_title, .cover_title2, .cover_title3{
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 100%;
    z-index: 3;
    color: #ffffff;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 5px;
}
.cover_title{
    font-size: 40px;
}
.cover_title2{
    bottom: 17%;
    font-size: 25px;
    font-weight: 700; 
}
.cover_title3{
    font-size: 25px;
    font-weight: 700; 
}
.cover_btn a{
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0px;
    color: #fff;
}
.cover_btn2 a{
    display: inline-block;
    position: absolute;
    bottom: 7%;
    left: 10%;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0px;
    color: #fff;
}
.view_plus{
    padding-right: 5px;
}
/* cover : e */

/* email_section */
#section6_wrap{
    background-color: #D2E0FF;
    height: 450px;
}
#section6{
    margin: 0 auto;
    width: 1320px;
}
.section6_l{
    float: left;
    width: 720px;
    padding-left: 100px;
    box-sizing: border-box;
    position: relative;
}
.section6_r{
    float: right;
    width: 600px;
    position: relative;
}
.section6_r img{
    display: block;
    position: absolute;
    top: -150px;
    right: 0;
    z-index: 0;
}

.section6_l .sub_Title{
    font: 18px;
    font-weight: 700;
    padding: 70px 0 10px;
}
.section6_l .Title{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}
.section6_l .Title span{
    color: #2a2aea;
}
#section6 .text_bar{
    width: 400px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0.2px solid #808080;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;
}
#section6 .text_bar .email_text,
#section6 .text_bar .id_text{
    width: 350px;
    color: #222;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}
#section6 .text_bar input::placeholder{
    color: #313131;
}
.check_top{
    margin-top: 10px;
}
.checkbox_group{
    padding-top: 6px;
    font-size: 14px;
    font-weight: 700;

}
.checkbox{
    border: 0.5px solid #ddd;
    border-radius: 2px;
}
.checkbox_group span{
    padding-left: 5px;
}
.btn_email{
    position: absolute;
    top: 330px;
    left: 100px;
}
.white_btn{
    display: inline-block;
    color: #2a2aea;
    background-color: #fff;
    border: 1px solid #d2e0ff;
    border-radius: 24px;
    padding: 10px 35px;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 700;
}
.white_btn:hover{
    background-color: #2a2aea;
    color: #fff;
}
/* section6 : e */

/* footer : s */
#footer_wrap{
    background-color: #000000;
    height: 300px;
    line-height: 140%;
}
#footer{
    margin: 0 auto;
    width: 1320px;
    padding-top: 40px;
}
.footer_logo{
    padding: 10px 0;
}
.footer_gnb li, .footer_inf li{
    float: left;
}
.footer_gnb li a{
    display: inline-block;
    padding-right: 20px;
    color: #fff;
}
.footer_gnb li a:hover{
    opacity: 0.7;
} 
.footer_inf{
    clear: both;
    width: 750px;
    padding-top: 25px;
}
.footer_inf li, .footer_inf_a{
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-right: 20px;
}
/* footer : e */