@charset "UTF-8";
* {margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{
    color: #222;
    text-decoration: none;
    font-family: Pretendard Variable;
}
button {
    background-color: transparent;
    border: 0;
    font-family: Pretendard Variable;
}
body {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-size: 15px;
    color: #222;
    min-width: 1400px;
}

/* bar_x_delete */
/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

/* fixed_group */
#fixed_group {
  cursor: pointer;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 9;
}
#btn_top {
  padding-left: 25px;
}
#btn_do a {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
  background-image: url(../images/btn_do.svg);
  background-repeat: no-repeat;
}
#btn_do a:hover{
  background-image: url(../images/btn_do_hover.svg);
}

/* slide_page_area : s */
#visual_wrap {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.contents {
  min-width: 1100px;
}
.slide_page_area {
  position: relative;
  overflow: hidden;
  height: 100%;
}
ul.slide_list {
  position: relative;
  transform: translateX(calc(-100% / 7));
}
ul.slide_list::after {
  content: '';
  display: block;
  clear: both;
}
.slide_page {
  position: relative;
  float: left;
  padding-top: 5.7%;
}
.slide_page>a {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 140%;
}
.slide_page> a> img {
  position: absolute;
  width: 100%;
}
.slide_page > a> * {
  color: #fff;
}
.slide_page > a> strong {
  position: absolute;
  bottom: 550px;
  left: 270px;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  opacity: 0;
  transition: all .5s linear .8s;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.slide_page.active > a> strong {
  opacity: 1;
}
.btn {
  position: absolute;
  bottom: 298px;
  width: 20px;
  height: 20px;
  background: url('../images/article/btn_next.svg') no-repeat;
  opacity: 0.5;
}
.btn:hover {
  opacity: 0.9;
  transition: opacity .3s;
}
.btn.prev {
  left: 50px;
  background-position: -296px -99px;
}

.btn.next {
  right: 80px;
  background-position: -346px -99px;
}

.page_num_area {
  position: absolute;
  bottom: 114px;
  left: 270px;
  color: #fff;
  font-size: 12px;
}

.page_num_area>.page_num {
  font-weight: 800;
}

.page_num_area>.total {
  position: relative;
  padding-left: 12px;
}

.page_num_area>.total::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 5px;
  width: 1px;
  height: 8px;
  margin-top: -4px;
  background-color: #d6d6d5;
}

.slide_progressbar {
  position: absolute;
  bottom: 221px;
  left: 270px;
  width: calc(100% - 520px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.slide_progressbar>.state {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 1px;
  background-color: #fff;
  transition: width .3s;
}

.main_contents {
  padding: 0 150px 120px;
}

.right_text {
  float: right;
  width: 800px;
}
/* slide_page_area : e */

/* header : s */
#header_position{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100%;
}
#header_wrap {
  margin: 0px auto;
  width: 1320px;
  padding-top: 45px;
  overflow: hidden;
}
#header {
  background-color: #fff;
  height: 85px;
  border-radius: 50px;
  padding: 23px;
  box-sizing: border-box;
  position: relative;
}
.header_logo {
  padding-left: 20px;
  padding-top: 1px;
  display: inline-block;
}
.header_gnb {
  position: absolute;
  left: 180px;
  top: 23px;
}
.header_gnb li {
  float: left;
}
.header_gnb li a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  padding: 9px 20px 30px 20px;
}
.header_gnb li a:hover {
  color: #2a2aea;
}
.header_util_wrap {
  float: right;
  width: 320px;
  margin-right: 70px;
  position: relative;
}
.header_util {
  display: inline-block;
  background-color: black;
  height: 40px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
}
.header_util ul {
  padding-left: 10px;
}
.header_util li {
  float: left;
}
.header_util li:nth-child(1) {
  width: 25%;
}
.header_util li:nth-child(2) {
  width: 35%;
}
.header_util li:nth-child(3) {
  width: 40%;
}
.header_util li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 12px 20px 13px;
}
.header_util li:nth-child(3) a {
  padding: 12px 28px 13px 20px;
}
.header_util li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.header_util li::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  margin-right: 9px;
}
.header_util li:nth-child(1):before {
  display: none;
}
/* header : e */

/* search : s */
.btn_search {
  position: absolute;
  top: 0px;
  right: -45px;
}
.btn_search:hover {
  opacity: 0.9;
}
.btn_search a {
  display: inline-block;
}
#search_popup {
  width: 1920px;
  height: 400px;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;

  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 99;
  margin-left: -960px;
  text-align: center;
}
.search_bar_wrap {
  margin: 0 auto;
  width: 100%;
}
.search_bar {
  margin: 70px auto;
  margin-bottom: 30px;
  width: 700px;
  height: 60px;
  padding: 13px 0px;
  box-sizing: border-box;
  border: 0.5px solid #808080;
  border-radius: 40px;

  position: relative;
}
.btn_delete {
  position: absolute;
  top: 4px;
  right: -60px;
}
.search_popup_logo {
  display: inline-block;
  position: absolute;
  left: -143px;
  top: 3px;
}
.search_bar input {
  width: 600px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  display: inline-block;
  font-family: Pretendard Variable;
}
.search_bar input::placeholder {
  color: #ddd;
}
.btn_search_sub {
  display: inline-block;
  vertical-align: middle;
  padding-top: 1px;
}
.default_wrap {
  margin: 0 auto;
  width: 700px;
  text-align: left;
}
.search_popup_title {
  font-size: 18px;
  margin: 10px 0;
}
.recent_wrap {
  float: left;
  width: 300px;
  padding: 0 30px;
  position: relative;
}
.recommend_wrap {
  float: right;
  width: 300px;
  padding-left: 30px;
  border-left: 1px solid #ddd;
}
.btn_all_delete {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.btn_all_delete:hover {
  opacity: 0.9;
}
.gray {
  color: gray;
}
.recommend_wrap ul li {
  float: left;
}
.recommend_wrap ul li a {
  display: inline-block;
  border: 1px solid #ccc;
  color: #2a2aea;
  font-size: 14px;
  padding: 7px 15px;
  margin: 0 5px 6px 0;
  border-radius: 20px;
}
.recommend_wrap ul li a:hover {
  background-color: rgba(221, 221, 221, 0.2);
}
/* search : e */

/* section1 : s */
#section1_wrap{
  height: 550px;
  background-color: #D2E0FF;
  background-image: url(../images/community/EVENT.png);
  background-size: 300px 550px;
  background-repeat: no-repeat;
  background-position: top left 100px;

  color: white;
  overflow: hidden;
}
#section1 {
  margin: 0 auto;
  width: 1320px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
#section1:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  z-index: -1;
}
.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#section1 a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.ms--images {
  position: relative;
  overflow: hidden;
}
.ms--images.ms-container--horizontal {
  width: 100%;
  height: 400px;
  max-width: 100%;
  padding-top: 18px;
}
.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}
.ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--images .ms-slide {
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ms--images {
  left: calc(50% - 280px);
}
.ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}
.ms--images .ms-slide:nth-child(1) .ms-slide__image {
  background-image: url(../images/community/slide_ph1.jpg);
}
.ms--images .ms-slide:nth-child(2) .ms-slide__image {
  background-image: url(../images/community/slide_ph2.jpg);
}
.ms--images .ms-slide:nth-child(3) .ms-slide__image {
  background-image: url(../images/community/slide_ph3.jpg);
}
.ms--images .ms-slide:nth-child(4) .ms-slide__image {
  background-image: url(../images/community/slide_ph4.jpg);
}
.ms--images .ms-slide__image-container {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 30px;
}
.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.ms--numbers {
  position: relative;
  overflow: hidden;
}
.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
  color: #fff;
}
.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--numbers .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ms--numbers {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 300px);
  /* z-index: -1; */
  pointer-events: none;
}
.ms--numbers .ms-slide {
  font-size: 9em;
  font-weight: 900;
}
.ms--titles {
  position: relative;
  overflow: hidden;
}
.ms--titles.ms-container--vertical {
  width: 400px;
  height: 170px;
  max-height: 100%;
}
.ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 85px);
}
.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}
.ms--titles.ms-container--vertical .ms-slide {
  display: flex;
}
.ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--titles .ms-slide {
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 170px;
  padding-right: 50px;
  padding-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ms--titles {
  position: absolute;
  left: calc(50% - 320px);
  top: calc(50% - 85px);
  z-index: 1;
  pointer-events: none;
}
.ms--titles .ms-track {
  white-space: normal;
}
.ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}
.ms--titles .ms-slide h3 {
  margin: 0;
}
.ms--links {
  position: relative;
  overflow: hidden;
}
.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}
.ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 30px);
}
.ms--links.ms-container--vertical .ms-slide {
  display: flex;
}
.ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--links .ms-slide {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ms--links {
  position: absolute;
  left: calc(50% - 280px);
  top: calc(50% + 80px);
  z-index: 1;
}
.ms--links .ms-track {
  white-space: normal;
}
.ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.pagination {
  display: flex;
  position: absolute;
  left: calc(50% - 378px);
  top: calc(88%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__button:before, .pagination__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;

}
.pagination__button:before {
  height: 3px;
  background-color: #7ba9ff;
}
.pagination__button:after {
  height: 3px;
  background-color: #2a2aea;
  opacity: 0;
  transition: 0.5s opacity;
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}
@media screen and (max-width: 860px) {
  .ms--numbers {
    left: calc(50% - 120px);
  }

  .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
  }

  .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }

  .pagination {
    left: 50%;
    top: calc(100% - 50px);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 600px) {
  .ms--images {
    overflow: visible;
  }
}
@media screen and (max-width: 400px) {
  .ms--titles .ms-slide {
    transform: scale(0.8);
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}
/* section1 : e */

/* section2 : s */
#section2{
  margin: 0 auto;
  width: 1320px;
  height: 700px;
  padding-top: 80px;
}
.section2_event_area{
  float: left;
  width: 828px;
  height: 540px;
  overflow: hidden;
  border-radius: 30px;

  position: relative;
}
.section2_right_wrap{
  /* 1320-828-30 */
  float: right;
  width: 462px;
  height: 540px;
}
.kakao{
  display: inline-block;
  width: 100%;
  height: 183px;
  margin-bottom: 30px;
  background-color: #FFE100;
  border-radius: 30px;
  background-image: url(../images/community/kakao2.png);
  background-repeat: no-repeat;
  padding: 50px;
}
.gna{
  width: 100%;
  height: 327px;
  background-image: url(../images/community/qna.jpg);
  border-radius: 30px;
  color: #FFF;
  padding: 50px;
}
.kakao p{
  font-size: 25px;
  color: #020303;
  font-weight: 700;
  padding: 5px 0 10px 0;
}
.gna h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 0%;
  padding: 60px 0 30px 0;
}
.gna p{
  font-size: 20px;
  padding-bottom: 35px;
}
.white_btn{
  display: inline-block;
  color: #2a2aea;
  background-color: #fff;
  border-radius: 24px;
  padding: 10px 35px;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 700;
}
.white_btn:hover{
  background-color: #2a2aea;
  color: #fff;
}
.black_btn{
  display: inline-block;
  color: #ffffff;
  background-color: #000000;
  border-radius: 24px;
  padding: 10px 35px;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 700;
}
.black_btn:hover{
  background-color: #221e1c;
  color: #fff;
}
.img_wrap img{
  display: block;
  height: 100%;
  width: 100%;

  transform: scale(1);
  transition: transform 0.5s;
}
.section2_event_area:hover img{
  transform: scale(1.1);
}
.cover{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: opacity 0.5s;

  padding: 10%;
  box-sizing: border-box;
}
.section2_event_area:hover .cover{
  opacity: 1;
}
.cover a{
  display: inline-block;
  position: absolute;
  bottom: 70px;
  right: 60px;
}
.cover h1{
  position: absolute;
  bottom: 90px;
  right: 60px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 0;
}
/* section2 : e */

/* section3 : s */
#section3{
  margin: 0 auto;
  width: 1320px;
  text-align: center;
  padding: 50px 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-bottom: 50px;
}
/* tab */
#box1 {
	margin: 0 auto;
	position: relative;
	display: inline-block;
  background-color: #f3f3f3;
  border-radius: 30px;
  width: 300px;
  padding: 0 40px 0 30px;
}
#section3 #box1 li {
	float: left;
  width: 50%;
	font-size: 18px;
	text-align: center;
  padding: 13px 0;
  font-family: Pretendard Variable;
  font-weight: 700;
}
#section3 #box1 li::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #7d7d7d;
  margin-right: 44px;
}
#section3 #box1 li:nth-child(1):before {
  display: none;
}
.tap {
  color: #000;
	cursor: pointer;
	display: inline-block;
}
.tap:hover {
	color: #2a2aea;
  font-weight: 700;
}
.opacity {
	color: #2a2aea;
}
#box1>li.on>.box1_1 {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
#box1>li>.box1_1 {
	height: 0;
	overflow: hidden;
}
.box1_1 {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}
.box1_1 .section3_title{
  margin: 30px 0 5px;
}
.box1_1 .section3_subtitle{
  margin-bottom: 50px;
}
/* 공지사항 */
.board_list {
  width: 100%;
  border-top: 2px solid #000;
}
.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}
.board_list > div.top {
  border-bottom: 1px solid #999;
  font-weight: 700;
}
.board_list > div:last-child {
  border-bottom: 1px solid #000;
}
.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
}
.board_list .num {
  width: 10%;

}
.board_list .title {
  width: 60%;
  text-align: left;
}
.board_list .top .title {
  text-align: center;
}
.board_list .writer {
  width: 10%;
}
.board_list .date {
  width: 10%;
}
.board_list .count {
  width: 10%;
}
.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}
.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 0;
  line-height: 100%;
}
.board_page a.bt {
  padding-top: 10px;
  font-size: 15px;
  letter-spacing: -1px;
}
.board_page a.num {
  padding-top: 9px;
  font-size: 15px;
}
.board_page a.num.on {
  color: #2a2aea;
}
/* FAQ */
.ab {/*js제어*/
	color: #2a2aea;
}
#section3_faqs {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/*faq*/
.font0, .font1, .font2, .font3, .font4{
  position: relative;
}
.font_10 {
	font-size: 18px;
	font-weight: 800;
	padding-top: 18px;
}
.right {
	position: relative;
	width: 100%;
	padding: 10px 0;
	float: right;
	overflow: hidden;
	border-radius: 0 20px 20px 0;
}
.right ul li:nth-child(1) {
	text-align: center;
	width: 140px;
	float: left;
}
.right ul li:nth-child(2) {
	width: 900px;
	float: left;
}
.right ul li:nth-child(3) {
	width: 110px;
	float: right;
	padding-top: 13px
}
.right>li ul {
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	overflow: hidden;
}
.text_info {
	background: rgba(210, 224, 255, 0.3);
	text-align: left;
	overflow: hidden;
}
.right>li .text_info {
	display: none;
	padding: 20px 0 50px 0;
}
.right>li .text_info {
	width: 100%
}
.text_info p{
  line-height: 160%;
}
.notice_line {
	height: 1px;
	text-align: center;
	width: 100%;
	margin: auto;
	background: #bcbcbc;
}
.notice_bg {
	height: 781px
}
.right .font_18 {
	position: relative;
	height: 60px;
	color: #333;
	font-size: 17px;
	padding-top: 8px;
}
.right .font_18 .noc_po {
	position: absolute;
	left: 2%;
	top: 50%;
	transform: translateY(-50%);
}
.turn {
	transform: rotate(180deg);
}
.plus img {
	transition: transform 0.5s;
}
.text_info p {
	float: left;
	font-size: 15px;
}
.answer {
	width: 150px;
	text-align: center;
	font-size: 18px;
	font-weight: 800;
	color: #2a2aea;
}
/* board_bottom_wrap: s */
#section3 .board_bottom_wrap{
  width: 900px;
  margin: 0 auto;
  height: 110px;
}
#section3 .board_bottom_wrap li{
  margin-top: 70px;
  float: left;
  width: 20%;
}
#section3 .board_bottom_wrap li:nth-child(1){
  width: 100px;
}
#section3 .board_bottom_wrap li:nth-child(2){
  width: 700px;
}
#section3 .board_bottom_wrap li:nth-child(3){
  width: 80px;
}
#section3 .board_bottom_wrap li:nth-child(3) a{
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: #222;
  border-radius: 8px;
  color: #fff;
  padding: 12px 10px;
  box-sizing: border-box;
}
#section3 .board_bottom_wrap li:nth-child(3) a:hover{
  background-color: #2a2aea;
}
#select_wrap{
  width: 100px;
  position: relative;
  text-align: left;
}
#select_btn{       
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px; 
  cursor: pointer;           
}
.option_wrap{
  width: 100%;            
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgb(240, 245, 255);
  border-radius: 8px;
}
.option_wrap p{
  cursor: pointer;
  padding: 8px 20px;
}
.option_wrap p:hover{
  background-color: rgb(228, 239, 255);
}
.plus{
  position: absolute;
  right: 10px;
  top: 10px;
}
.turn{transform:rotate(180deg);}
/* .plus img{transition:transform 0.5s;} */
.board_search_bar {
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
}
.board_search_bar input {
  width: 95%;
  font-size: 15px;
  font-weight: 500;
  padding-top: 5px;
  border: none;
  outline: none;
  display: inline-block;
  font-family: Pretendard Variable;
}
.board_search_bar input::placeholder {
  color: #ddd;
}
/* section3 : e */

/* section4 : s */
#section4_wrap{
  height: 400px;
  background-color: #eef3ff;
}
#section4{
  margin: 0 auto;
  width: 1320px;
}
.section4_l{
  float: left;
  width: 200px;
}
.section4_l h1{
  padding: 115px 0 30px;
}
.slider_wrap{
  float: right;
  width: 1120px;
  overflow: hidden;
  position: relative;
  height: 400px;
}
.insta_logo{
  position: absolute;
  top: 55px;
  left: 60px;
  z-index: 2;
}
.slider {
  margin: 0 auto;
  width: 1120px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -500px;
}
.slick-slide {
  margin: 0px 15px;
}
.slick-slide img {
  width: 100%;
  border-radius: 30px;
  box-sizing: border-box;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
/* section4 : e */


/* email_section :  s */
#section6_wrap{
  background-color: #D2E0FF;
  height: 450px;
}
#section6{
  margin: 0 auto;
  width: 1320px;
}
.section6_l{
  float: left;
  width: 720px;
  padding-left: 100px;
  box-sizing: border-box;
  position: relative;
}
.section6_r{
  float: right;
  width: 600px;
  position: relative;
}
.section6_r img{
  display: block;
  position: absolute;
  top: -150px;
  right: 0;
  z-index: 0;
}
.section6_l .sub_Title{
  font: 18px;
  font-weight: 700;
  padding: 70px 0 10px;
}
.section6_l .Title{
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
}
.section6_l .Title span{
  color: #2a2aea;
}
#section6 .text_bar{
  width: 400px;
  height: 40px;
  padding: 11px 20px;
  box-sizing: border-box;
  border: 0.2px solid #808080;
  border-radius: 5px;
  background-color: #fff;
  margin: 5px 0;
}
#section6 .text_bar .email_text,
#section6 .text_bar .id_text{
  width: 350px;
  color: #222;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}
#section6 .text_bar input::placeholder{
  color: #313131;
}
.check_top{
  margin-top: 10px;
}
.checkbox_group{
  padding-top: 7px;
  font-size: 14px;
  font-weight: 700;
}
.checkbox{
  border: 0.5px solid #ddd;
  border-radius: 2px;
}
.checkbox_group span{
  padding-left: 5px;
}
.btn_email{
  position: absolute;
  top: 330px;
  left: 100px;
}
/* email_section : e */

/* footer : s */
#footer_wrap{
  background-color: #000000;
  height: 300px;
  line-height: 140%;
}
#footer{
  margin: 0 auto;
  width: 1320px;
  padding-top: 40px;
}
.footer_logo{
  padding: 10px 0;
}
.footer_gnb li, .footer_inf li{
  float: left;
}
.footer_gnb li a{
  display: inline-block;
  padding-right: 20px;
  color: #fff;
}
.footer_gnb li a:hover{
  opacity: 0.7;
} 
.footer_inf{
  clear: both;
  width: 750px;
  padding-top: 25px;
}
.footer_inf li, .footer_inf_a{
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding-right: 20px;
}
/* footer : s */