@charset "UTF-8";
*{margin: 0; padding: 0;}
ul,ol{
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
    font-family: Pretendard Variable;
}
button{
    background-color: transparent;
    border: 0;
    font-family: Pretendard Variable;
}
body {
    font-family: Pretendard Variable;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #222;
    min-width: 1400px;
}

/* bar_x_delete */
/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/* fixed_group */
#fixed_group{
    cursor: pointer;
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 9;
}
#btn_top{
    padding-left: 25px;
}
#btn_do a{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url(../images/btn_do.svg);
}
#btn_do a:hover{
    background-image: url(../images/btn_do_hover.svg);
}
/* visual */
#header_visual{
    background-image: url(../images/main/visual_image.jpg);
    /* background: linear-gradient(to top , #fff, #0044ff); */
    /* background: radial-gradient(farthest-side at top left, #0606d3, transparent 2000px 1000px), 
    radial-gradient(farthest-side at bottom right, rgba(12, 113, 255, 0.8), transparent 2000px); */
    background-size: cover;
    height: 750px;
    overflow: hidden;
}

#visual_wrap{
    margin: 10px auto;
    width: 1320px;
    height: 700px;    
    overflow: hidden;
    position: relative; 
    padding-top: 20px; 
    box-sizing: border-box; 
}
.visual_wrap_ani{
    position: absolute;
    top: 320px;
    right: 0px;
    z-index: 2;
    opacity: 0.7;
}
.text_ani{
    animation: rotate_ani 10s linear infinite;
}
@keyframes rotate_ani{
    0%{
        transform: rotate(0deg);
    }
    100%{transform: rotate(360deg);
    }
}
#visual_title{
    float: left;
    width: 40%;
    padding-top: 100px;
    padding-left: 50px;
    box-sizing: border-box;
}
#visual_photo{
    float: right; 
    width: 60%;
    padding-top: 20px;
}
#visual_title h1, #visual_title h2, #visual_title p{
    line-height: 120%;
    text-shadow: 5px 5px 3px rgba(86, 86, 86, 0.2);
    font-weight: 700;
    color: #ceff00;
}
#visual_title h1{
    font-size: 40px;
}
#visual_title h2{
    color: #ffffff;
    font-size: 45px;
    margin: 10px 0 70px 0;
}
#visual_title p{
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(9, 52, 4, 0.1);
}
/* visual_photo : s */

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 500px;
    justify-content: center;
    perspective: 300px;
  }
  .carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 350px;
    height: 500px;
    border-radius: 12px;
    position: absolute;
    transition: all 0.3s ease-in;
  }
  .carousel__item:nth-child(1) {
    background-image: url(../images/goods/goods_visual_photo5.jpg);
  }
  .carousel__item:nth-child(2) {
    background-image: url(../images/goods/goods_visual_photo2.jpg);
  }
  .carousel__item:nth-child(3) {
    background-image: url(../images/goods/goods_visual_photo1.jpg);
  }
  .carousel__item:nth-child(4) {
    background-image: url(../images/goods/goods_visual_photo4.jpg);
  }
  .carousel__item:nth-child(5) {
    background-image: url(../images/goods/goods_visual_photo3.jpg);
  }
  .carousel__item[data-pos="0"] {
    z-index: 5;
  }
  .carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
    opacity: 0.5;
    filter: blur(1px) grayscale(10%);
  }
  .carousel__item[data-pos="-1"] {
    transform: translateX(-40%) scale(0.8);
    z-index: 4;
  }
  .carousel__item[data-pos="1"] {
    transform: translateX(40%) scale(0.8);
    z-index: 4;
  }
  .carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
    opacity: 0.3;
    filter: blur(3px) grayscale(20%);
  }
  .carousel__item[data-pos="-2"] {
    transform: translateX(-70%) scale(0.6);
    z-index: 3;
  }
  .carousel__item[data-pos="2"] {
    transform: translateX(70%) scale(0.6);
    z-index: 3;
  }

/* visual_photo : e */

/* header : s */
#header_wrap{
    margin: 0px auto;
    width: 1320px;
    height: 85px;
    padding-top: 45px;

    overflow: hidden;
}
#header{
    background-color: #fff;
    height: 85px;
    border-radius: 50px;
    padding: 23px;
    box-sizing: border-box;
    position: relative;
}
.header_logo{
    padding-left: 20px;
    padding-top: 1px;
    display: inline-block;
}
.header_gnb{
    position: absolute;
    left: 180px;
    top: 23px;
}
.header_gnb li{
    float: left;
}
.header_gnb li a{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    padding: 9px 20px 30px 20px; 
}
.header_gnb li a:hover{
    color: #2a2aea;
}
.header_util_wrap{
    float: right;
    width: 320px;
    margin-right: 70px;
    position: relative;
}
.header_util{
    display: inline-block;
    background-color: black;
    height: 40px;
    width: 100%;
    border-radius: 50px;
    text-align: center;
}
.header_util ul{
    padding-left: 10px;
}
.header_util li{
    float: left;
}
.header_util li:nth-child(1){
    width: 25%;
}
.header_util li:nth-child(2){
    width: 35%;
}
.header_util li:nth-child(3){
    width: 40%;
}
.header_util li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 9px 20px 0;
}
.header_util li:nth-child(3) a{
    padding: 9px 28px 0 20px;
}
.header_util li a:hover{
    color: rgba(255, 255, 255, 0.9);    
}
.header_util li::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    margin-right: 9px;
}
.header_util li:nth-child(1):before{
    display: none;
}

/* search : s */
.btn_search{
    position: absolute;
    top: 0px;
    right: -45px;
}
.btn_search:hover{
    opacity: 0.9;
}

.btn_search a{
    display: inline-block;
}
#search_popup{
    width: 1920px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;

    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 99;
    margin-left: -960px;
    text-align: center;
}
.search_bar_wrap{
    margin: 0 auto;
    width: 100%;

}
.search_bar{
    margin: 70px auto;
    margin-bottom: 30px;
    width: 700px;
    height: 60px;
    padding: 13px 0px;
    box-sizing: border-box;
    border: 0.5px solid #808080;
    border-radius: 40px;

    position: relative;
}
.btn_delete{
    position: absolute;
    top: 4px;
    right: -60px;
}
.search_popup_logo{
    display: inline-block;
    position: absolute;
    left: -143px;
    top: 3px;
}
.search_bar input{
    width: 600px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    display: inline-block;
    font-family: Pretendard Variable;
}
.search_bar input::placeholder{
    color: #ddd;
}
.btn_search_sub{
    display: inline-block;
    vertical-align: middle;
    padding-top: 1px;
}
.default_wrap{
    margin: 0 auto;
    width: 700px;
    text-align: left;
}
.search_popup_title{
    font-size: 18px;
    margin: 10px 0;
}
.recent_wrap{
    float: left;
    width: 300px;
    padding: 0 30px;
    position: relative;
}
.recommend_wrap{
    float: right;
    width: 300px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
}
.btn_all_delete{
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 15px;
    color: gray;
    cursor: pointer;
}
.btn_all_delete:hover{
    opacity: 0.9;
}
.gray{
    color: gray;
}
.recommend_wrap ul li{
    float: left;
}
.recommend_wrap ul li a{
    display: inline-block;
    border: 1px solid #ccc;
    color: #2a2aea;
    font-size: 14px;
    padding: 3px 15px;
    margin: 5px 5px 5px 0;
    border-radius: 20px;
}
.recommend_wrap ul li a:hover{
    background-color: rgba(221, 221, 221, 0.2);
}
/* search : e */
/* header : e */

/* section1 : s */
#section1{
    margin: 100px auto;
    width: 1200px;
    height: 1000px;
}
.section_title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.margazine1_wrap{
    height: 444px;
}
.margazine1_l{
    float: left;
    width: 592px;
    height: 444px;
    border-radius: 30px 0 0 0;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.margazine1_r{
    float: right;
    width: 600px;
    height: 444px;
    background-color: #26008c;
    border-radius: 0 30px 0 0;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
}
.margazine1_r h3, .margazine1_r p{
    color: #fff;
    font-size: 18px;
}
.margazine1_r h1{
    color: #ceff00;
    font-size: 40px;
    margin: 15px 0;
}
.margazine1_r hr{
    color: #fff;
    opacity: 0.3;
}
.margazine1_list{
    margin: 20px 0;
}
.margazine1_r p{
    padding: 25px;
}
.margazine1_r p span{
    font-family: Dubai;
    font-size: 50px;
    font-weight: 100;
    color: #ceff00;
}

.margazine2_wrap{
    margin-top: 8px;
    height: 456px;
}
.margazine2_l{
    float: left;
    width: 415px;
    height: 456px;
    background-image: url(../images/goods/margazine_photo2.jpg);
    border-radius: 0 0 0 30px;
}
.margazine2_r{
    float: right;
    width: 777px;
    height: 456px;
    border-radius: 0 0 30px 0;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}

/* section1 : e */

/* 공통 hover : s */
.img_wrap img{
    display: block;
    height: 100%;
    width: 100%;

    transform: scale(1);
    transition: transform 0.5s;
}
.margazine1_l:hover .img_wrap img,
.margazine2_r:hover .img_wrap img,
.eco_item1_l:hover .img_wrap img,
.eco_item1_r_1:hover .img_wrap img,
.eco_item1_r_2:hover .img_wrap img,
.eco_item2_r:hover .img_wrap img,
.eco_item4_l:hover .img_wrap img,
.eco_item4_r_l:hover .img_wrap img,
.eco_item4_r_r:hover .img_wrap img,
.eco_item5_l:hover .img_wrap img,
.eco_item5_r:hover .img_wrap img
{
    transform: scale(1.2);
}
.cover{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(6, 0, 94, 0.7);
    opacity: 0;
    transition: opacity 0.5s;

    padding: 10%;
    box-sizing: border-box;
}
.cover .cover_title{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    z-index: 3;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
}
.cover_title a{
    display: inline-block;
    margin-top: 5px;
}
.cover_title span{
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    font-weight: 500;
}
.cover_text{
    position: absolute;
    top: 12%;
    left: 12%;
    width: 100%;
    z-index: 3;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
}
.cover_text span{
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    font-weight: 500;
}
.cover_text a{
    display: inline-block;
    margin-top: 5px;
}
.cover_text2{
    position: absolute;
    top: 12%;
    left: 12%;
    width: 100%;
    z-index: 3;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}
.cover_text2 span{
    color: #fff;
    font-size: 15px;
    padding: 20px 0;
    font-weight: 500;
}
.cover_text2 a{
    display: inline-block;
    margin-top: 3px;
}

.margazine1_l:hover .cover,
.margazine2_r:hover .cover,
.eco_item1_l:hover .cover,
.eco_item1_r_1:hover .cover,
.eco_item1_r_2:hover .cover,
.eco_item2_r:hover .cover,
.eco_item4_l:hover .cover,
.eco_item4_r_l:hover .cover,
.eco_item4_r_r:hover .cover,
.eco_item5_l:hover .cover,
.eco_item5_r:hover .cover
{
    opacity: 1;
}
/* 공통 hover : e */

/* section2 : s */
#section2{
    margin: 50px auto;
    width: 1200px;
    height: 2300px;
}
.eco_item1_wrap{
    height: 380px;
    overflow: hidden;
    padding-bottom: 8px;
}
.eco_item1_l{
    float: left;
    width: 368px;
    /* 1200-376= 824*/
    height: 380px;
    border-radius: 30px 0 0 0;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item1_r{
    float: right;
    width: 824px;
    height: 380px;
}
.eco_item1_r_1{
    float: left;
    width: 489px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item1_r_2{
    float: right;
    width: 327px;
    height: 100%;
    background-image: url(../images/goods/eco_item_photo3.jpg);
    border-radius: 0 30px 0 0px;

    text-align: center;
    color: #fff;
    padding-top: 150px;
    box-sizing: border-box;
    line-height: 110%;
}
.eco_item1_r_2 h1{
    font-weight: 500;
}
.eco_item1_r_2> p{
    padding-top: 10px;
    font-weight: 500;
}
.eco_item2_wrap{
    height: 545px;
    overflow: hidden;
    padding-bottom: 8px;
}
.eco_item2_l{
    float: left;
    width: 613px;
    height: 545px;
    background-image: url(../images/goods/eco_item_photo4.jpg);
}
.eco_item2_r{
    float: right;
    width: 579px;
    height: 545px;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item3{
    background-image: url(../images/goods/eco_item_photo6.jpg);
    height: 180px;
    width: 1200px;
    margin-bottom: 8px;

    position: relative;
}
.eco_item3> h1{
    color: #ceff00;
    font-size: 50px;
    line-height: 100%;
    padding: 40px 0 0 220px;
}
.eco_item3_text{
    position: absolute;
    top: 47px;
    right: 0;
    width: 50%;
    border-left: 3px solid #ceff00;
    color: #ffffff;
    padding-left: 15px;
}
.eco_item3_text span{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}
.eco_item4_wrap{
    height: 537px;
    overflow: hidden;
    padding-bottom: 8px;
}
.eco_item4_l{
    float: left;
    width: 492px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item4_r{
    float: right;
    width: 700px;
    height: 100%;
}
.eco_item4_r_wrap{
    height: 282px;
    padding-bottom: 8px;
}
.eco_item4_r_l{
    float: left;
    width: 373px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item4_r_r{
    float: right;
    width: 319px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item4_r_3{
    width: 100%;
    height: 248px;
    background-image: url(../images/goods/eco_item_photo10.jpg);
    overflow: hidden;
    text-align: center;
}
.eco_item4_r_3 p{
    font-size: 22px;
    color: #fff;
    padding-top: 95px;
}
.eco_item4_r_3 span{
    color: #ceff00;
}
.eco_item5_wrap{
    height:460px;
    overflow: hidden;
    padding-bottom: 8px;
}
.eco_item5_l{
    float: left;
    width: 612px;
    height: 100%;
    border-radius: 0 0 0 30px;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
.eco_item5_r{
    float: right;
    width: 580px;
    height: 100%;
    border-radius: 0 0 30px 0;
    box-sizing: border-box;
    overflow: hidden;

    position: relative;
}
/* section2 : e */
#goods_banner_wrap{
    background-image: url(../images/goods/goods_banner.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0a47e5;
    overflow: hidden;
}
#goods_banner{
    margin: 0 auto;
    width: 800px;
    padding: 102px 350px;
}
.goods_banner_title{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
}
.goods_banner_text{
    color: #ceff00;
    padding-top: 20px;
}

/* footer : s */
#footer_wrap{
    background-color: #000000;
    height: 300px;
}
#footer{
    margin: 0 auto;
    width: 1320px;
    padding-top: 40px;
}
.footer_logo{
    padding: 10px 0;
}
.footer_gnb li, .footer_inf li{
    float: left;
}
.footer_gnb li a{
    display: inline-block;
    padding-right: 20px;
    color: #fff;
}
.footer_gnb li a:hover{
    opacity: 0.7;
} 
.footer_inf{
    clear: both;
    width: 750px;
    padding-top: 25px;
}
.footer_inf li, .footer_inf_a{
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-right: 20px;
}